<div class="row">
  <div class="col">
    <button class="mx-1 btn btn-primary"
            ngbTooltip="Go Back to all recipes"
            (click)="onNavigateToRecipes()">
      <bi name="Arrow-Left"></bi>
    </button>
    <button class="mx-1 btn btn-primary"
            ngbTooltip="Toggle edit mode"
            (click)="onToggleEditable()">
      <bi [name]="editMode ? 'Unlock' : 'Lock'"></bi>
    </button>
    <button class="mx-1 btn btn-primary"
            ngbTooltip="Delete recipe"
            (click)="onDeleteRecipe()">
      <bi name="Trash"></bi>
    </button>
    <button class="mx-1 btn btn-primary"
            ngbTooltip="Export(download) recipe"
            (click)="onDownloadRecipe()">
      <bi name="Download"></bi>
    </button>
    <button class="mx-1 btn btn-primary"
            ngbTooltip="Duplicate recipe"
            (click)="onDuplicateRecipe()">
      <bi name="Files"></bi>
    </button>
    <button
      class="btn btn-white"
      ngbTooltip="Saved Recipe">
      <bi *ngIf="updateSuccessful()" style="color: black" name="Check-Circle"></bi>
      <bi *ngIf="updateError()" style="color: black" name="Exclamation-Diamond"></bi>
      <div style="position: relative">
        <ngx-spinner class="p-2"
          *ngIf="updateWaiting()"
                     name="updatedRecipeSpinner"
                     bdColor="rgba(51,51,51,0)"
                     size="small"
                     color="#437653"
                     [fullScreen]="false"
                     type="ball-spin-clockwise">
        </ngx-spinner>
        <div *ngIf="updateSuccessful()" style="font-size: xx-small">Saved</div>
        <div *ngIf="updateError()" style="font-size: xx-small">Error Saving</div>
      </div>
    </button>
  </div>
</div>
