<div class="row">
  <div class="col">
    <button class="mx-1 btn btn-primary"
            ngbTooltip="Go Back to all recipes"
            (click)="onNavigateToRecipes()">
      <bi name="Arrow-Left"></bi>
    </button>
    <button class="mx-1 btn btn-primary"
            ngbTooltip="Toggle edit mode"
            (click)="onToggleEditable()">
      <bi [name]="editMode ? 'Unlock' : 'Lock'"></bi>
    </button>
    <button class="mx-1 btn btn-primary"
            ngbTooltip="Delete recipe"
            (click)="onDeleteRecipe()">
      <bi name="Trash"></bi>
    </button>
    <button class="mx-1 btn btn-primary"
            ngbTooltip="Export(download) recipe"
            (click)="onDownloadRecipe()">
      <bi name="Download"></bi>
    </button>
    <button class="mx-1 btn btn-primary"
            ngbTooltip="Duplicate recipe"
            (click)="onDuplicateRecipe()">
      <bi name="Files"></bi>
    </button>
  </div>
</div>
