<div class="container-fluid">
  <div class="row">
    <div class="col">
      <button class="mx-1 btn btn-primary"
              title="Go Back to all recipes"
              (click)="navigateToRecipes()">
        <bi name="ArrowLeft"></bi>
      </button>
      <button class="mx-1 btn btn-primary"
              title="Edit recipe"
              (click)="switchEdit()">
        <bi icon="Unlock"></bi>
        <bi icon="Lock"></bi>
      </button>
      <button class="mx-1 btn btn-primary"
              title="Delete recipe"
              (click)="deleteRecipe()">
        <bi name="Trash"></bi>
      </button>
      <button class="mx-1 btn btn-primary"
              title="Export(download) recipe"
              (click)="downloadRecipe()">
        <bi name="Download"></bi>
      </button>
      <button class="mx-1 btn btn-primary"
              title="Duplicate"
              (click)="duplicate()">
        <bi name="Files"></bi>
      </button>
    </div>
  </div>
  <div class="row align-content-center">
    <div class="col-sm-12 col-md-5 mt-3 px-0 px-md-3">
      <app-recipe-upload-crop-image [recipeId]="recipeId"></app-recipe-upload-crop-image>
    </div>
    <div class="col-sm-12 col-md-7 mt-3 px-4">
      <div id="title">
        <form>
          <label for="recipe-title" class="form-label"><h3>Recipe Title</h3></label>
          <input type="text" class="form-control" placeholder="Spaghetti Carbonara" id="recipe-title"
                 aria-describedby="recipe-title">
        </form>
      </div>
      <div id="description">
        <form>
          <label for="recipe-description" class="form-label"><h4 class="form-label">Description</h4></label>
          <textarea class="form-control" placeholder="A famous italian recipe." id="recipe-description"
                    aria-describedby="recipe-title"></textarea>
        </form>
      </div>
      <div class="row mt-4 align-content-between">
        <div class="col">
          <label><h4 class="form-label">Difficulty</h4></label>
          <div class="btn-group" role="group" aria-label="Difficulty selection">
            <button type="button" class="btn btn-secondary">Easy</button>
            <button type="button" class="btn btn-secondary">Medium</button>
            <button type="button" class="btn btn-secondary">Hard</button>
          </div>
        </div>
        <div class="col">
          <label><h4 class="form-label">Servings</h4></label>
          <div class="btn-group" role="group" aria-label="Servings selection">
            <button type="button" class="btn btn-secondary">1</button>
            <button type="button" class="btn btn-secondary">2</button>
            <button type="button" class="btn btn-secondary">3</button>
            <button type="button" class="btn btn-secondary">4</button>
          </div>
        </div>
        <div class="col">
          <label for="cooking-time-range" class="form-label"><h4 class="form-label">Cooking time</h4></label>
          <input type="range" class="form-range" min="15" max="300" step="5" id="cooking-time-range">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="mt-3 col-sm-12">
      <recipe-tags :recipe-id="recipeId" :user-id="userId"/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 mt-3">
      <!--      <instructions :recipe-id="recipeId" :user-id="userId"/>-->
    </div>
    <div class="col-md-4 mt-3">
      <!--      <ingredients :recipe-id="recipeId" :user-id="userId"/>-->
    </div>
  </div>
  <div class="row">
    <div class="col mt-3">
      <!--      <b-form-text size="sm" inline text-variant="secondary">-->
      <!--        <b-icon-clock-history/>-->
      <!--        {{ this.$moment().from(recipe.changed, true) }}-->
      <!--      </b-form-text>-->
    </div>
  </div>
</div>
