<div class="border rounded border-grey p-2">
  <div class="row align-items-center"
       (click)="toggleCollapse()">
    <div class="col-6">
      <h4 class="form-label my-auto ml-2">Instructions</h4>
    </div>
    <div class="col-6 text-right">
      <button class="btn" type="button">
        <bi *ngIf="collapsed" name="Chevron-Up"></bi>
        <bi *ngIf="!collapsed" name="Chevron-Down"></bi>
      </button>
    </div>
  </div>

  <div id="collapsingInstructions" [ngbCollapse]="collapsed">
    <div *ngIf="viewMode() && instructionsIsEmpty()" class="row">
      <h5 class="text-secondary col-sm-12 text-center m-2">
        No Instructions yet
      </h5>
    </div>

    <ul [dndDropzone]
        (dndDrop)="onInstructionDrop($event)"
        [dndEffectAllowed]="draggable.effectAllowed"
        *ngIf="instructionsNotEmpty()"
        id="list-instructions" class="list-group list-group-flush instructionsGroup">

      <li class="list-group-item-light"
          style="border-radius: 5px; padding: 20px;"
          dndPlaceholderRef>
        Drop here ...
      </li>

      <li [dndDraggable]="index"
          [dndEffectAllowed]="draggable.effectAllowed"
          *ngFor="let instruction of instructions; let index = index; trackBy:trackByInstructions"
          class="list-group-item d-flex"
          [class.pl-1]="editMode"
          [class.justify-content-between]="editMode"
          [class.justify-content-start]="viewMode()">
        <div class="text-center"
             [class.mr-2]="viewMode()">
          <h3>
            {{ index + 1 }}.
          </h3>
          <button *ngIf="editMode && instructions.length != 1 && index != instructions.length - 1"
                  class="btn"
                  dndHandle>
            <bi name="Arrows-Move"></bi>
          </button>
          <button *ngIf="editMode && index == instructions.length - 1"
                  class="btn"
                  disabled>
            <bi name=""></bi>
          </button>
        </div>
        <textarea *ngIf="editMode"
                  class="form-control mx-2"
                  placeholder="Type your instructions. E.g. Boil water ..."
                  [ngModel]="instructions[index]"
                  (ngModelChange)="updateInstruction($event, index)"></textarea>
        <p *ngIf="viewMode()" class=" mx-2" style="text-align: justify">
          {{ instructions[index] }}
        </p>
        <div *ngIf="editMode" class="">
          <button *ngIf="instructions.length != 1 && index != instructions.length - 1"
                  class="btn btn-danger"
                  (click)="deleteInstruction(index)">
            <bi name="Trash"></bi>
          </button>
        </div>
      </li>
    </ul>
  </div>
</div>
