<div class="border rounded border-grey p-2">
  <div class="row align-items-center"
       (click)="toggleCollapse()">
    <div class="col">
      <h4 class="form-label my-auto ml-2">Ingredients</h4>
    </div>
    <div class="col text-right">
      <button class="btn" type="button">
        <bi *ngIf="collapsed" name="Chevron-Up"></bi>
        <bi *ngIf="!collapsed" name="Chevron-Down"></bi>
      </button>
    </div>
  </div>

  <div id="collapsingIngredients" [ngbCollapse]="collapsed">
    <div *ngIf="viewMode() && ingredientsIsEmpty()" class="row">
      <h5 class="text-secondary col-sm-12 text-center m-2">
        No Ingredients yet
      </h5>
    </div>
    <div *ngIf="ingredientsNotEmpty()">
      <div class="list-group list-group-flush">
        <div *ngFor="let ingredient of ingredients; let index = index; trackBy:trackByIngredients"
             class="list-group-item">
          <app-single-ingredient *ngIf="editMode"
                                 [defaultIngredient]="ingredients[index]"
                                 (ingredientChanged)="onSingleIngredientChanged(index, $event)"
                                 (deleteIngredient)="deleteIngredient(index)"></app-single-ingredient>
          <p *ngIf="viewMode()" class="m-0 text-center">
            {{ ingredient.amount }} {{ ingredient.measurementUnit }} {{ ingredient.title }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

