<div>
  <div class="row">
    <div class="col-6 pl-0 pr-1">
      <input class="form-control"
             type="number"
             placeholder="e.g. 200"
             [ngModel]="ingredient.amount"
             (ngModelChange)="onAmountUpdated($event)"/>
    </div>
    <div class="col-6 pl-0 pr-0">
      <select class="form-select"
              [ngModel]="ingredient.measurementUnit"
              (ngModelChange)="onMeasurementUnitUpdated($event)">
        <option *ngFor="let unit of allMeasurementUnits"
                [ngValue]="unit">
          {{ unit.title }}
        </option>
      </select>
    </div>
  </div>
  <div class="row mt-1">
    <div class="col-9 pl-0 pr-1">
      <input class="form-control"
             placeholder="e.g. Cheese"
             [ngModel]="ingredient.title"
             (ngModelChange)="onTitleUpdated($event)"/>
    </div>
    <div class="col-3 pl-0 pr-0 text-center">
      <button class="btn btn-danger" (click)="onDeleteIngredientClicked()">
        <bi name="Trash"></bi>
      </button>
    </div>
  </div>
</div>
