<div class="modal fade" id="modalUploadRecipes" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Upload single or multiple recipes</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <textarea
          class="form-control mx-2"
          placeholder="Insert single recipe as JSON"
          [(ngModel)]="uploadRecipeString"
          (ngModelChange)="textIsValidRecipe()"
        ></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button"
                data-dismiss="modal"
                [disabled]="!textIsValidRecipe()"
                (click)="uploadRecipe()"
                class="btn btn-primary">Upload</button>
      </div>
    </div>
  </div>
</div>
