<div>
  <div class="row">
    <div class="col-sm-6 pl-0 pr-1">
      <form>
        <input class="form-control" placeholder="200"/>
      </form>
    </div>
    <div class="col-sm-6 pl-1 pr-0">
      <select class="form-select">
        <option value="1"> One</option>
        <option value="1"> One</option>
        <option value="1"> One</option>
      </select>
    </div>
  </div>
  <div class="row mt-1">
    <div class="col-sm-9 pl-0 pr-1">
      <form action="submit">
        <input class="form-control" placeholder="Cheese"/>
      </form>
    </div>
    <div class="col-sm-3 text-center p-0">
      <button class="btn btn-primary">
        <bi name="Trash"></bi>
      </button>
    </div>
  </div>
</div>
