<div class="container">

  <notifier-container></notifier-container>

  <ngx-spinner name="pageIsLoadingSpinner"
               bdColor="rgba(51,51,51,0)"
               size="medium"
               color="#123321"
               fullScreen="false"
               type="ball-spin-clockwise">
  </ngx-spinner>

  <div *ngIf="recipe">
    <app-top-buttons [editMode]="editMode"
                     [updateResult]="recipeService.updateResult"
                     (navigateToRecipes)="navigateToRecipes()"
                     (editableToggled)="toggleEditable()"
                     (deleteRecipe)="deleteRecipe()"
                     (downloadRecipe)="downloadRecipe()"
                     (duplicateRecipe)="duplicate()">
    </app-top-buttons>

    <div class="row align-content-center">
      <div *ngIf="recipe.image || editMode"
           class="col-sm-12 col-md-5 mt-3 px-0 px-md-3">
        <app-image [editMode]="editMode"
                   [defaultImageAsBase64]="recipe.image"
                   (imageChanged)="onImageChanged($event)"></app-image>
      </div>
      <div class="col-sm-12 col-md-7 mt-3">
        <app-basic-properties [editMode]="editMode"
                              [defaultRecipe]="recipe"
                              (recipeChanged)="onRecipeChanged($event)">
        </app-basic-properties>
      </div>
    </div>
    <div class="row align-content-center">
      <div id="tags" class="mt-3 col-sm-12">
        <app-tags [editMode]="editMode"
                  [defaultRecipeTags]="recipe.tags"
                  (recipeTagsChanged)="onRecipeTagsChanged($event)"
        ></app-tags>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 col-lg-4 mt-2 pl-md-1">
        <app-ingredients [editMode]="editMode"
                         [defaultIngredients]="recipe.ingredients"
                         (ingredientsChanged)="onIngredientsUpdated($event)">
        </app-ingredients>
      </div>
      <div class="col-md-7 col-lg-8 mt-2 pr-md-1">
        <app-instructions [editMode]="editMode"
                          [defaultInstructions]="recipe.instructions"
                          (instructionChanged)="onInstructionsUpdated($event)">
        </app-instructions>
      </div>
    </div>
    <div class="row">
      <div class="col mt-3">
        <div style="color: darkgrey">
          <bi name="Clock"
              ngbTooltip="Created"></bi>
          {{recipe.created | date:'longDate'}}
        </div>
        <div style="color: darkgrey">
          <bi name="Clock-history"
              ngbTooltip="Last Modified"></bi>
          {{recipe.lastModified | date:'medium'}}
        </div>
      </div>
    </div>
  </div>
</div>
