<div class="container">

  <app-top-buttons [editMode]="editable"
                   (navigateToRecipes)="navigateToRecipes()"
                   (editableToggled)="toggleEditable()"
                   (deleteRecipe)="deleteRecipe()"
                   (downloadRecipe)="downloadRecipe()"
                   (duplicateRecipe)="duplicate()">
  </app-top-buttons>

  <div class="row align-content-center">
    <div class="col-sm-12 col-md-5 mt-3 px-0 px-md-3">
      <app-image [recipeId]="recipe.id"></app-image>
    </div>
    <div class="col-sm-12 col-md-7 mt-3">
      <app-basic-properties [editMode]="editable"
                            [recipeTitle]="recipe.title"
                            [recipeDescription]="recipe.description"
                            [recipeDifficulty]="recipe.difficulty"
                            [defaultServings]="recipe.defaultServings"
                            [totalCookingTimeInMinutes]="recipe.cookingTime"
                            (recipeTitleChanged)="onTitleUpdate($event)"
                            (recipeDescriptionChanged)="onDescriptionUpdate($event)"
                            (recipeDifficultyChanged)="onDifficultyUpdate($event)"
                            (recipeDefaultServingsChanged)="onDefaultServingsUpdate($event)"
                            (recipeTotalTimeInMinutesChanged)="onTotalTimeUpdate($event)">
      </app-basic-properties>
    </div>
  </div>
  <div class="row align-content-center">
    <div id="tags" class="mt-3 col-sm-12">
      <app-tags [editMode]="editable"
                [defaultRecipeTags]="recipe.tags"
                (recipeTagsChanged)="onRecipeTagsChanged($event)"
      ></app-tags>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-lg-8 mt-2 pr-md-1">
      <app-instructions [defaultInstructions]="recipe.instructions"
                        (instructionChanged)="instructionsUpdated($event)"
                        [editable]="editable">
      </app-instructions>
    </div>
    <div class="col-md-6 col-lg-4 mt-2 pl-md-1">
      <app-ingredients [defaultIngredients]="recipe.ingredients"
                       (ingredientsChanged)="ingredientsUpdated($event)"
                       [editable]="editable">
      </app-ingredients>
    </div>
  </div>
  <div class="row">
    <div class="col mt-3">
      <!--      <b-form-text size="sm" inline text-variant="secondary">-->
      <!--        <b-icon-clock-history/>-->
      <!--        {{ this.$moment().from(recipe.changed, true) }}-->
      <!--      </b-form-text>-->
    </div>
  </div>
</div>
